/.metadata/
/.recommenders/
.project
.settings
target
.classpath
transaction-logs
.factorypath
.springBeans



### IntelliJ IDEA ###
.gradle/
.idea/
.logs/
bin/
build/
gradle/
out/
!gradle/wrapper/gradle-wrapper.jar
*.iws
*.iml
*.ipr
.apt_generated
logs
applogs

*/.DS_Store
.DS_Store

ops/ansible/.retry